<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Database IMDN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="bppt.png" rel="icon">
  <link href="bppt.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= home Section ======= -->
  <section id="home" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Database</h1>
          <h1>Industri Manufaktur Dalam Negeri (IMDN)</h1>
          <!-- <h2>Pusat Pengkajian Industri Manufaktur Telematika dan Elektronika</h2> -->
          <div class="d-lg-flex">
            <a href="{{ route('kbl.tampilan.index') }}" class="btn-get-started scrollto">KBL</a>
            <a href="{{ route('keretaapi.tampilan.index') }}" class="btn-get-started scrollto" style="margin-left: 10px;">Kereta Api</a>
            <a href="{{ route('kelistrikan.tampilan.index') }}" class="btn-get-started scrollto" style="margin-left: 10px;">Kelistrikan</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 typografi-ppimte" data-aos="zoom-in" data-aos-delay="200">
          <img src="typografi-ppimte.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End home -->


  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>